<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/administrador">Graficos e informação</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [hidden]="esconderBarrar()" routerLink="/clienteCadastrados">Clientes Cadastrados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/planosadmin">Planos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/administrador">Combos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/usuarios">Usuários</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/postadmin">Post de Manutenção</a>
              </li>
            <li class="nav-item">
              <a class="nav-link  btn"  (click)="sair()" >Sair</a>
            </li>
          </ul>
        </div>
      </nav>

      






    <p>tela-administrador Projeto IBL Telecom</p>
</div>
<router-outlet></router-outlet>