<!doctype html>
<html lang="pt-br" class="corbody">



    <div class="container">

        <div class="row">
            <iframe width="400" height="315" src="https://www.youtube.com/embed/qiCIm0f1hY8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="col-sm-7">
                <h2 class="text-center">Para que serve um data center</h2>
                <p class="text-center">Esses equipamentos são montados com o objetivo de processar de maneira adequada
                    grande quantidade de informações, ininterrupta e confiavelmente, para que a organização que usufrui
                    desse sistema não tenha desvios ou queda na operacionalidade de seus serviços. Por conta disso,
                    comumente esses centros de processamento de dados são alojados em compartimentos ou salões com
                    extrema proteção, alguns dos quais trazem sistema contra incêndio, têm pisos elevados contra
                    inundações e oferecem um fechamento contra acesso indevido de pessoal inabilitado ou não
                    especializado. Quase sempre, os equipamentos ficam dispostos sobre racks ou armários metálicos, com
                    monitoramento de temperatura, de forma a conservar os itens resfriados e no ambiente ótimo para
                    funcionar.</p>
            </div>
        </div>
        <hr>

        <div class="mb-5">
            <h1 class="text-center text-info"> Dicas de rede Wi-fi em casa</h1>
            <div class="row">
                <iframe width="400" height="315" src="https://www.youtube.com/embed/TILUry0srlM" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <div class="col-sm-7">
                    <h2 class="text-center">Diferenças de rede Wi-fi 2.4Ghz e 5Ghz</h2>
                    <p>Se você possui rede WiFi em casa e se interessa por tecnologia,
                        possivelmente você já viu que existem roteadores com dois padrões diferentes de comunicação.
                        O primeiro é o mais comum: 2,4 GHz. Já o segundo, mesmo que seja tão antigo quanto o primeiro,
                        está se tornando mais popular somente agora: 5 GHz.</p>
                    <h2 class="text-center">Mas afinal de contas, qual dos dois é melhor?</h2>
                    <p>O melhor é aquele que atende de forma mais completa suas necessidades. Para resumir:
                        é possível ter uma transferência de dados maior com o 5 GHz,
                        mas é preciso estar ciente de que o alcance do sinal será menor.</p>
                        <img width="100%" height="25%" src="assets/imgs/wifi.jpg">

                </div>
            </div>
        </div>
        
        <div>
            <h2 class="text-center text-info ">Dica como Instalar um repetidor de Wifi</h2>
            <iframe width="100%"  height="350px" src="https://www.youtube.com/embed/K64W2y98MVo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>




        <div class="col-12 ">
            <hr>
        </div>
        <div class="row  rodape ">

            <div class="col-sm-4">
                <img src="assets/imgs/IBL-TELECOM-LOGO.png" class="img2 " alt="logo">
                <h5 class="text-center text-white" style="font-size: 16px;">Quem somos</h5>
                <p style="font-size: 13px; " class="text-white text-center">Fornecemos soluções de telecomunicaçãohá
                    mais de 15 anos.
                    Estabelecer um relacionamento duradouro com nossos clientes é nosso objetivo final,
                    que pretendemos alcançar ao apoiar sua instalação e garatir que você seja informado sobre quaisquer
                    desenvolvimentos em tecnologia que possam melhorar ainda mais o sucesso de seus negócios.
                </p>

            </div>

            <div class="col-sm-4 text-center">

                <h5 class="text-center text-white" style="font-size: 16px;">Contato</h5>
                <p style="font-size: 12px; margin-top: 1%;" class="text-white">Endereço: Rua 03 n°381, Parque Santana
                    Fortaleza-ce</p>
                <p style="font-size: 12px; margin-top: -5%;" class="text-white">Telefone: (85) 3298-3648</p>
                <p style="font-size: 12px; margin-top: -5%;" class="text-white">Whatsapp:<a class="text-white"
                        href="https://api.whatsapp.com/send?phone=5585986116833 &text=Olá Como podemos ajudar?"
                        target="_blank"> (85) 98611-6833 </a></p>
                <p style="font-size: 12px; margin-top: -5%;" class="text-white">E-mail: <a class="text-white"
                        href="mailto:suportematelecom@outlook.com"> suportematelecom@outlook.com</a></p>

                <h5 class="text-center text-white" style="font-size: 16px; margin-top: -2%;">Menu</h5>
                <div class="list-group text-center ">
                    <a class="text-white" style="font-size: 12px;" href="#">Perfil</a>
                    <a class="text-white" style="font-size: 12px;" [routerLink]="[ '/contato' ]"
                        routerLinkActive="active">Contato</a>
                    <a class="text-white" style="font-size: 12px;" [routerLink]="[ '/planos' ]"
                        routerLinkActive="active">Planos</a>
                    <a class="text-white" style="font-size: 12px;" href="https://ibltelecom.gesprov.com.br/central"
                        target="_blank">Acesso do Cliente</a>
                </div>

            </div>

            <div class="col-sm-4 ">

                <h5 class="text-center text-white" style="font-size: 16px;">Redes Sociais</h5>
                <div class="btn-group-vertical btn-block btn-group-sm" role="group">
                    <a class="btn btn-primary text-white" href="#">Facebook</a>
                    <a class="btn btn-info text-white" href="#">Instagram</a>
                    <a class="btn btn-warning text-white"
                        href="https://api.whatsapp.com/send?phone=5585986116833 &text=Olá Como podemos ajudar?"
                        target="_blank"> Whatsapp</a>
                    <a class="btn btn-success text-white" href="https://ibltelecom.gesprov.com.br/central"
                        target="_blank">Central do Cliente</a>
                </div>
            </div>
        </div>
        <div class="col-12 ">
            <hr>
        </div>
        <div class="col-12 mt-1 ">
            <blockquote class="blockquote text-center">
                <p class="mb-0" style="font-size: 12px;">Desenvolvido por Rafael Souza</p>
                <footer class="blockquote-footer" style="font-size: 10px;">Tecnologias utiliza:<cite
                        title="Titulo">Java,
                        Spring, Bootstrap, Angular, Amazon, mysql</cite></footer>
            </blockquote>
        </div>

    </div>


</html>