



.nav-link {
    color: mintcream!important;
    margin-right: 5px;
    font-size: 20px;
}



.nav-link:hover {
    color: #000!important;
}

.phone, .email, .central {
    margin-right: 5px;
}

.phone {
    color: #03A9F4;
}
.email {
    color: #E91E63;
}
.central {
    color: teal;
}


.carousel-slide{
    width: 100%;
}

.search-bar {
    position: absolute;
    z-index: 1;
    top: 100px;
    width: 90%;
}

.input-group>.form-control:focus {
    box-shadow: none;
}
.input-group>.form-control {
    margin-right: 5px;
}
.btn-outline-secondary {
    border-left: 1px solid #000;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: #000;
    background-color: #f8f9fa;
    
}

.btn-outline-secondary:hover {
color: #8a8a8a;
background-color: #f8f9fa;
}



