<div class="corbody">
  
  <div>
    <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/0E44DClsX5Q?controls=0&autoplay=1"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="container">

    <div class="border border-info borda">
      <h2 class="text-center">Free fire</h2>
      <div class="card-deck">
        <div class="card">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/NcS81IGMg_Y" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title text-center titulo">Como diminuir o Ping no Free Fire</h5>
            <p class="card-text noticia">Vou esta trazendo alguns App que pode diminuir o ping em seus jogos do celular.
            </p>
            <ul class="links">
              <li> <a href="https://play.google.com/store/apps/details?id=com.netoptimizer.booster&hl=pt-BR">Net Booster
                  & Optimizer</a> </li>
              <li> <a
                  href="https://play.google.com/store/apps/details?id=com.cloudflare.onedotonedotonedotone">1.1.1.1</a>
              </li>
              <li> <a href="https://play.google.com/store/apps/details?id=com.js.internetguard">Internet Guard</a></li>
            </ul>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/imgs/freefire_error.jpg" alt="Free Fire Error">
          <div class="card-body">
            <h5 class="card-title titulo"><a
                href="https://www.techtudo.com.br/noticias/2020/05/free-fire-fica-fora-do-ar-no-brasil-apos-erro-de-conexao-de-rede-esports.ghtml">Free
                Fire fica fora do ar no Brasil após erro de conexão de rede</a></h5>
            <p class="card-text noticia">Free Fire está fora do ar no Brasil nesta quinta-feira (7). Ao tentar conectar
              no Battle Royale pelo Android e iPhone ( iOS), o jogador se depara com o aviso de "Acesso inválido". Os
              relatos do problema de conexão de rede começaram após o término da atualização ocorrida na última
              madrugada.</p>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/imgs/freefire.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title titulo"><a
                href="https://www.freefiremania.com.br/noticia/recorde-free-fire-atinge-80-milhoes-de-jogadores-ativos-diarios.html">Recorde!
                Free Fire atinge 80 milhões de jogadores ativos diários</a></h5>
            <p class="card-text noticia">O Garena Free Fire bateu mais um record de jogadores ativos com 80 milhões de
              pessoas diariamente no mundo. RECORDE! FREE FIRE ATINGE 80 MILHÕES DE JOGADORES ATIVOS DIÁRIOS A Sea
              Limited, empresa dona da Garena, divulgou hoje o balanço do primeiro trimestre de 2020...</p>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="border border-info borda">
      <h2 class="text-center">League of Legends</h2>
      <div class="card-deck">
        <div class="card">
          <iframe width="100%" height="162px" src="https://www.youtube.com/embed/vQlYPpgtpqk" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title titulo"><a
                href="https://support-leagueoflegends.riotgames.com/hc/pt-br/articles/360047808153-League-of-Legends-Pulsefire-2020">League
                of Legends - Pulsefire 2020</a></h5>
            <p class="card-text noticia">Futuros distópicos? Polícia temporal cronoexecutora?! E ainda disseram que
              viagem no tempo era moleza! Quando a situação complica, ainda vem equipada com acessórios cibernéticos e
              perícia tecnológica. Você protegerá os delicados sistemas do espaço-tempo... ou prefere agitar um pouco as
              coisas? Pulsefire 2020 está pronto para deixar sua marca no League of Legends.</p>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/imgs/crop.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title titulo"><a
                href="https://support-leagueoflegends.riotgames.com/hc/pt-br/articles/360018987893-Cronograma-de-Atualiza%C3%A7%C3%B5es-League-of-Legends">Cronograma
                de Atualizações - League of Legends</a></h5>
            <p class="noticia card-text">League of Legends lança Atualizações que incluem correções, melhorias e novos
              conteúdos periodicamente. Abaixo, você encontra o cronograma das Atualizações planejadas para 2020 .
              Aviso: as datas das Atualizações podem mudar a qualquer momento por diversos motivos. Recomendamos que
              todos confiram esta página um ou dois dias antes de uma Atualização para verificar se houve alguma
              mudança.</p>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="assets/imgs/crop 2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title titulo"><a
                href="https://status.riotgames.com/?locale=en_US&product=leagueoflegen">Riot Games Service Status</a>
            </h5>
            <p class="noticia card-text text-center">Devido aos eventos atuais, a Internet está passando por um aumento
              no tráfego da Web, o que pode levar a uma experiência degradada no jogo (por exemplo, alta latência, perda
              de pacotes).</p>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>


          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="border border-info borda">
      <h2 class="text-center">Black Desert</h2>
      <div class="card-deck">
        <div class="card">
          <iframe width="100%" height="200px" src="https://www.youtube.com/embed/DD4zMOvRrzM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title titulo ">Black Desert Online </h5>
            <p class="card-text noticia">Black Desert Online é um jogo de RPG on-line de fantasia massivamente para
              múltiplos jogadores, desenvolvido pela desenvolvedora coreana de videogames Pearl Abyss e publicado
              originalmente para o Microsoft Windows em 2015.</p>

          </div>
        </div>
        <div class="card">
          <iframe width="100%" height="200px" src="https://www.youtube.com/embed/QXl8fMDB09c" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title titulo"><a
                href="http://blackdesert-forums.playredfox.com/index.php?threads/lan%C3%A7amento-da-composi%C3%A7%C3%A3o-musical-da-shai-o-melhor-professor-de-m%C3%BAsica.37698/&idx=2">Lançamento
                da Composição Musical da Shai - O Melhor Professor de Música</a></h5>
            <p class="card-text noticia">Guias copiados ou adaptados de outras fontes estão sujeitos a serem
              desqualificados. Quer dizer que a composição só pode participar se for de autoria original? Ou eu posso
              participar com o meu cover de "Baile de Favela" sem problema? se agente coloca no you tub toma flag onde a
              gente coloca o link da musica?</p>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" height="200px" src="assets/imgs/blackdesert1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title titulo"><a
                href="http://blackdesert-forums.playredfox.com/index.php?threads/a-deusa-da-sorte-est%C3%A1-ao-meu-lado.37694/&idx=0">A
                Deusa da Sorte Está ao Meu Lado!</a></h5>
            <p class="card-text noticia">ae mais injeção de gold no jogo First.... agora dá pra ficar ryyyyyca. #SQN
              Esse evento vai injetar bilhões no jogo. Os itens do mercado vão sumir de novo. Vocês tem que parar com
              esse eventos que só aumentam a inflação dos itens in-game.</p>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

          </div>
        </div>
      </div>
    </div>



    <div class="col-12 ">
      <hr>
    </div>
    <div class="row  rodape ">

      <div class="col-sm-4">
        <img src="assets/imgs/IBL-TELECOM-LOGO.png" class="img2 " alt="logo">
        <h5 class="text-center text-white" style="font-size: 16px;">Quem somos</h5>
        <p style="font-size: 13px; " class="text-white text-center">Fornecemos soluções de telecomunicaçãohá mais de 15
          anos.
          Estabelecer um relacionamento duradouro com nossos clientes é nosso objetivo final,
          que pretendemos alcançar ao apoiar sua instalação e garatir que você seja informado sobre quaisquer
          desenvolvimentos em tecnologia que possam melhorar ainda mais o sucesso de seus negócios.
        </p>

      </div>

      <div class="col-sm-4 text-center">

        <h5 class="text-center text-white" style="font-size: 16px;">Contato</h5>
        <p style="font-size: 12px; margin-top: 1%;" class="text-white">Endereço: Rua 03 n°381, Parque Santana
          Fortaleza-ce</p>
        <p style="font-size: 12px; margin-top: -5%;" class="text-white">Telefone: (85) 3298-3648</p>
        <p style="font-size: 12px; margin-top: -5%;" class="text-white">Whatsapp:<a class="text-white"
            href="https://api.whatsapp.com/send?phone=5585986116833 &text=Olá Como podemos ajudar?" target="_blank">
            (85) 98611-6833 </a></p>
        <p style="font-size: 12px; margin-top: -5%;" class="text-white">E-mail: <a class="text-white"
            href="mailto:suportematelecom@outlook.com"> suportematelecom@outlook.com</a></p>

        <h5 class="text-center text-white" style="font-size: 16px; margin-top: -2%;">Menu</h5>
        <div class="list-group text-center ">
          <a class="text-white" style="font-size: 12px;" href="#">Perfil</a>
          <a class="text-white" style="font-size: 12px;" [routerLink]="[ '/contato' ]"
            routerLinkActive="active">Contato</a>
          <a class="text-white" style="font-size: 12px;" [routerLink]="[ '/planos' ]"
            routerLinkActive="active">Planos</a>
          <a class="text-white" style="font-size: 12px;" href="https://ibltelecom.gesprov.com.br/central"
            target="_blank">Acesso do Cliente</a>
        </div>

      </div>

      <div class="col-sm-4 ">

        <h5 class="text-center text-white" style="font-size: 16px;">Redes Sociais</h5>
        <div class="btn-group-vertical btn-block btn-group-sm" role="group">
          <a class="btn btn-primary text-white" href="#">Facebook</a>
          <a class="btn btn-info text-white" href="#">Instagram</a>
          <a class="btn btn-warning text-white"
            href="https://api.whatsapp.com/send?phone=5585986116833 &text=Olá Como podemos ajudar?" target="_blank">
            Whatsapp</a>
          <a class="btn btn-success text-white" href="https://ibltelecom.gesprov.com.br/central" target="_blank">Central
            do Cliente</a>
        </div>
      </div>
    </div>
    <div class="col-12 ">
      <hr>
    </div>
    <div class="col-12 mt-1 ">
      <blockquote class="blockquote text-center">
        <p class="mb-0" style="font-size: 12px;">Desenvolvido por Rafael Souza</p>
        <footer class="blockquote-footer" style="font-size: 10px;">Tecnologias utiliza:<cite title="Titulo">Java,
            Spring, Bootstrap, Angular, Amazon, mysql</cite></footer>
      </blockquote>
    </div>

  </div>

</div>